body {
    background-color: azure;
    color: black;
}

p {
    font-size: 1em;
    text-align: center;
    font: Garamond;
    margin-left: 15%;
    margin-right: 15%;
    font-style: italic;
}

li {
    display: inline;
    font-size:1.25em;
    padding: 0.5cm 1.5cm;
    font: Garamond
}

ul {
    text-align: center;
    font:Garamond;
    padding: 0.5em 1em;
}

figure {
    text-align: center;
    
    
}

h1 {
    text-align: center;
    
}
h3 {
    text-align: center;
    font: Garamond;
    font-size: 3em;
}

a {
    display: inline;
    text-decoration: none;
    padding: 0em 0.2em;

}


address {
    text-align: center;
}

ol {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: goldenrod;
    font-family:sans-serif;
}