body {
    background-color: antiquewhite;
    color: crimson;
}

h1 {
    font-size: 3em;
    font-family: fantasy;
    text-align: center;
    
}

li {
    font-size: 2em;
    
}

p {
    font-size: 1.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}