* {
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    background-color: #E6564E;
}
header {
    background-color: #55566A;
    display: flex;
    padding: 0.7em;
}
main {
    margin: 0 auto;
}
footer {
    background-color: #000;
    color: #FFF;
    display: flex;
    padding: 2em;
    margin: 0 auto;
}
section {
    margin: 0 auto;
    padding: 1em;
}
div.container {
    display: flex;
    padding: 0;

}
h3 {
    color: #FFF;
    font-size: 1.5em;
}
div.linha {
    width: 58em;
    padding: 0.75em;
}
hr.a {
    border-radius: 5em;
    border: 1px solid #fff;
}
header > nav {
    background-color: #E4CC60;
    border-radius: 0.25em;
    width: 40em;
    text-align: center;
    
}

header > p {
    background-color: #E6564E;
    padding: 1em;
    text-align: center;
    border-radius: 0.25em;
}

a > p {
    text-align: center;
    background-color: #E4CC60;
    margin: 0;
    padding: 0.6em;
}

li {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
}

figure {
    padding: 1em;
    text-align: center;
}

h2 {
    text-align: center;
    color: #FFF;
}

section > p {
    text-align: center;
    color: #fff;
    padding: 1em;
}
