* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #55566A;
    display: flex;
    padding: 1.075em;
}
footer {
    background-color: #000;
    color: #FFF;
    display: flex;
    padding: 1.2em;
}
main {
    margin: 5em auto;
}
div.container {
    display: flex;
}

header > nav {
    background-color: #E4CC60;
}