* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

header a {
    color: antiquewhite;
}

header h1 {
    background-color: rgb(49, 76, 134);
    padding: 3em;
}

nav {
    background-color: rgb(33, 59, 92);
    padding: 1em;
}
nav li {
    display: inline-block;
    margin-right: 1em;
}

section {
    background-color: rgb(202, 80, 104);
    width: 14.5em;
    height: 11em;
    border-radius: 1.2em;
    margin: 1em;
    padding: 2em;
    float: left;
}