* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

header a { /*seram selecionados apenas os ancoras dentros da tag header*/
    color: antiquewhite;
    text-decoration: none;
}

header h1 {
    background-color: rgb(49, 76, 134);
    padding: 3em;
    font-family: monospace;
    font-size: 2.445em;
}

header nav {
    background-color: rgb(33, 59, 92);
    padding: 1em;
}
header nav li {
    display: inline-block;
    margin-right: 1em;
    width: 7.8em;
    background-color: rgb(49, 76, 134);
    border-radius: 1.1em;
}

main {
    max-width: 70em; /*Largura maxima do conteudo principal*/ /*Largura maxima é importante para a responsividade*/
    margin: 0 auto; /*Quando definida à largura, o conteudo fica no centro*/
    display: flex;
    flex-wrap: wrap;/*quebra de linha | permite que as seções fiquem uma lado da outra*/
}
section {
    background-color: rgb(202, 80, 104);
    width: 29em;
    height: 12em;
    border-radius: 1.2em;
    margin: 1em;
    padding: 2em;
    
}

section h2 {
    background-color: rgb(235, 125, 134);
}

footer {
    background-color: rgb(127, 138, 136);
    padding: 2em;
     /*coloca abaixo dos elementos que estao flutuando*/
}

/*PAGINAS INTERNAS*/
article {
    background-color: rgb(202, 80, 104);
    max-width: 45em;
    height: 12em;
    border-radius: 1.2em;
    margin: 1em;
    padding: 2em;
    min-height: 10em;
    
}

aside {
    background-color: rgb(212, 199, 202);
    max-width: 9.25em;
    height: 12em;
    border-radius: 1.2em;
    margin: 1em;
    padding: 2em;
    min-height: 10em;
    
}
