div#container{ /*#: id do html*/
    max-width: 70em;
    /*max-width = maxinmo de largura do site*/
    margin: 0 auto;
    background-color: rgb(100, 180, 85);
    padding: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section > div { /*Formata apenas a primenira div dentro da section*/
    display: flex;
    background-color: rgb(100, 255, 85);
    padding: 2em;
    
    div{
        border: 3px solid rgb(0, 50, 0);
        margin: 1em;
        padding: 1em;
        border-radius: 2em;

    }
    
}