div#container{ /*#: id do html*/
    max-width: 70em;
    /*max-width = maxinmo de largura do site*/
    margin: 0 auto;
    background-color: rgb(100, 180, 85);
    padding: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section > div { /*Formata apenas a primenira div dentro da section*/
    display: flex;
    background-color: rgb(125, 230, 75);
    padding: 2em;
    
    div{ /*estrutura alinhada*/
        border: 1px solid rgb(0, 50, 0);
        margin: 1em;
        padding: 1em;
        border-radius: 1.5em;
        box-shadow: 0.2em 0.2em 0.1em rgb(75, 90, 50);

    }
    
}

section + div{
    background-color: palegreen;
}

span {
    background-color: rgb(213, 255, 213);
}